
.cart_wrap{
    padding: 40px 15px 40px 15px;
}

.cart_content{
    background-color: #fff;
    border: 1px solid #dddddd;
    padding: 0;
}

.cart_content_header h1{
    height: 60px;
    color: #676767;
    font: bold 18px arial, sans-serif;
    padding-top: 21px;
    margin: 0;
}

.cart_content_head{
    height: 40px;
    background-color: #dbdbdb;
}

.cart_content_head_text{
    font: 14px tahoma, sans-serif;
    color: #5a5a5a;
    padding-top: 12px;
}

.cart_content_head_text1{
    padding-left: 25px;
}

.cart_content_head_text2{
    text-align: center;
}

.cart_content_order{
    padding: 20px 20px 0 20px;
}

.cart_content_order_inner{
    height: 140px;
    border: 1px solid #dbdbdb;
}

.cart_content_order_inner1{
    padding: 0;
    height: 140px;
    display: flex;
    align-items: center;
    justify-content: center; 
}

.cart_content_order_inner2{
    padding: 0;
    height: 140px;
    margin: auto;
}

.cart_content_order_remove{
    padding: 0;
    color: #91a7c1;
    cursor: pointer;
}

.cart_content_order_img{
    padding: 0;
}

.cart_content_order_img img{
    max-height: 100px;
}

.cart_content_order_name, .cart_content_order_val{
    height: 140px;
    display: flex;
    align-items: center;
    justify-content: center; 
}

.cart_content_order_name p{
    font: 18px tahoma, sans-serif;
    color: #676767;
    margin: 0;
}

.cart_content_order_val1 span, .cart_content_order_val2 span, .cart_content_order_val3 span{
    padding: 0;
    font: 14px tahoma, sans-serif;
    color: #5a5a5a;
}

.cart_content_order_val1 .cart_order_price_val, .cart_content_order_val3 .cart_order_price_val{
    font: bold 18px tahoma, sans-serif;
    color: #6b6b6b;
}

.cart_order_input{
    font: 14px tahoma, sans-serif;
    color: #515151;
    height: 22px;
    width: 22px;
    border-radius: 5px;
    border: 1px solid #dbdbdb;
    box-shadow: inset 0 0 3px #dbdbdb;
    text-align: center;
}

.order_minus, .order_plus{
    cursor: pointer;
}

.cart_order_title{
    display: none;
}

.cart_content_total{
    margin-top: 20px;
    font: bold 18px arial, sans-serif;
    color: #676767;
    padding-top: 10px;
}

.cart_an_order h2{
    font: bold 18px arial, sans-serif;
    color: #676767;
    margin: 20px 0 20px 0;
}

.cart_order_form{
    height: 280px;
    width: 320px;
    border: 1px solid #dbdbdb;
    margin: 0 auto;
    margin-bottom: 50px;
}

.cart_order_form input{
    width: 280px;
    height: 40px;
    margin: 20px 0 0 20px;
    padding-left: 28px;
}

.cart_order_form input::-webkit-input-placeholder {color: #d3d3d3; font: italic 14px tahoma, sans-serif;}
.cart_order_form input::-moz-placeholder          {color: #d3d3d3; font: italic 14px tahoma, sans-serif;}/* Firefox 19+ */
.cart_order_form input:-moz-placeholder           {color: #d3d3d3; font: italic 14px tahoma, sans-serif;}/* Firefox 18- */
.cart_order_form input:-ms-input-placeholder      {color: #d3d3d3; font: italic 14px tahoma, sans-serif;}

.asterisk{
    font: 14px tahoma, sans-serif;
    color: #ec3a40;
}

.cart_order_form_name{
    background-image: url(../images/man.png);
    background-repeat: no-repeat;
    background-position: 10px 12px;
}

.cart_order_form_tel{
    background-image: url(../images/tel2.png);
    background-repeat: no-repeat;
    background-position: 12px 12px;
}

.cart_order_form_email{
    background-image: url(../images/email.png);
    background-repeat: no-repeat;
    background-position: 10px 12px;
}


.cart_order_form_name, .cart_order_form_tel, .cart_order_form_email{
    border: 1px solid #dbdbdb;
    border-radius: 4px;
    box-shadow: inset 3px 3px 10px -3px #dbdbdb , 0 0 10px -3px #dbdbdb;
}

.cart_order_form_name:focus, .cart_order_form_tel:focus, .cart_order_form_email:focus{
    box-shadow: inset 3px 3px 10px -3px #dbdbdb , 0 0 10px -1px #dbdbdb;
}

.cart_order_form_submit{
    background-color: #ff0000;
    border: 0;
    padding: 0 !important;
    font: 18px tahoma, sans-serif;
    color: #fff;
    border-radius: 1px;
}



.success_wrap{
    padding: 40px 15px 40px 15px;
    width: 100%;
    display: block;
}

.success_content{
    background-color: #fff;
    border: 1px solid #dddddd;
    padding: 0;
    width: 100%;
    display: block;
}

.success_content_header{
    display: block;
    border-bottom: 1px solid #dbdbdb;    
}

.success_content_header h1{
    color: #676767;
    font: bold 18px arial, sans-serif;
    padding-top: 21px;
    padding-bottom: 21px;
    margin: 0;
}

.success_content_main_wrap{
    display: flex;
    align-items: center;
    justify-content: center; 
}

.success_content_main{
    width: 530px;
    margin: 40px auto;
    padding: 0;
    background-color: #f0f0f0;
}

.success_content_main_text{
    height: 100%;
}

.success_content_main_img{
    padding: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center; 
}


.success_content_main_text_head{
    font: 14px arial, sans-serif;
    color: #676767;
    padding-top: 20px;
    padding-left: 0;
}

.success_content_main_text_head p{
    margin: 0;
}

.success_content_main_text_number{
    border: 1px dashed #cecece;
    padding: 0;
    width: 90%;
    height: 50px;
    margin: 18px 0 18px 0;
    display: flex;
    align-items: center;
}

.success_content_main_text_number p{
    font: 18px arial, sans-serif;
    color: #676767;
    padding-left: 20px;
}

.order_number{
    font: bold 18px tahoma, sans-serif;
    color: #676767;
}

.order_number_text, .order_number_text_p, .order_number_text_input{
    padding: 0;
}

.order_number_text{
    height: 120px;
}

.order_number_text_p p{
    font: 14px arial, sans-serif;
    color: #676767;
    padding-top: 40px;
}

.order_input{
    height: 20px;
    background-image: url(../images/search.png);
    background-repeat: no-repeat;
    background-position: 5px 5px;
    padding: 0 0 0 18px;
    font: 11px tahoma, sans-serif;
    color: #515151;
    width: 160px;
    border-radius: 3px;
    border: 1px solid #d6d6d6;
    box-shadow: 0 0 5px -1px #d6d6d6,
                3px 3px 3px -4px #d6d6d6 inset;
}

::-webkit-input-placeholder {color: #d3d3d3; font: italic 10px tahoma, sans-serif;}
::-moz-placeholder          {color: #d3d3d3; font: italic 10px tahoma, sans-serif;}/* Firefox 19+ */
:-moz-placeholder           {color: #d3d3d3; font: italic 10px tahoma, sans-serif;}/* Firefox 18- */
:-ms-input-placeholder      {color: #d3d3d3; font: italic 10px tahoma, sans-serif;}

.order_submit{
    height: 19px;
    width: 80px;
    padding: 0;
    border: 2px solid #ec3a40;
    background-color: #ec3a40;
    border-radius: 3px;
    margin-left: 3px;
    font: 12px tahoma, sans-serif;
    color: #fff;
    box-shadow: 0 0 5px -1px #d6d6d6;
}

.order_status{
    padding-left: 0;
}

.status{
    margin-top: 40px;
    border: 1px dashed #a9abae;
    height: 45px;
    width: 100%;
    font: 14px arial, sans-serif;
    color: #676767;
    display: flex;
    align-items: center;
    justify-content: center; 
}

.status p{
    margin: 0;
}

.cart_clear{
    padding: 20px;
}













@media screen and (max-width: 900px){
    .cart_content_order_val1 .cart_order_price_val, .cart_content_order_val3 .cart_order_price_val{
        font: bold 16px tahoma, sans-serif;
        color: #6b6b6b;
    }
}

@media screen and (max-width: 767px){
    .cart_content_order_name, .cart_content_order_val{
        height: auto;
        display: block;
    }
    
    .cart_content_order_name{
        margin: 15px 0 5px 0;
    }
    
    .cart_content_order_name p{
        font-size: 16px;
    }
    
    .cart_order_title{
        display: inline;
    }
    
    .success_content_main{
        width: 95%;
        margin: 40px auto;
        padding: 0;
        background-color: #f0f0f0;
    }
    
    .order_input{
        width: 70%;
    }
    
    .status{
        font: 12px arial, sans-serif; 
    }
    
}

@media screen and (max-width: 660px){
    .order_input{
        width: 60%;
    }
}

@media screen and (max-width: 530px){
    .order_number_text_p p{
        font: 12px arial, sans-serif;
    }
    
    .status{
        font: 10px arial, sans-serif; 
    }
}

@media screen and (max-width: 479px){
    .cart_content_order_inner{
        height: auto;
    } 
    .success_content_main_text_number p{
        font: 14px arial, sans-serif;
        padding-left: 10px;
    }
    
    .order_number{
        font: bold 14px tahoma, sans-serif;
    }
    
    .order_input{
        width: 95%;
    }
    
    .order_number_text_p p{
        font: 12px arial, sans-serif;
        padding-top: 30px;
        margin-bottom: 5px;
    }
    
    .success_content_main_img{
        padding: 0 10px 0 10px;
    }
    
}

@media screen and (max-width: 400px){
    .cart_order_form{
        height: 280px;
        width: 280px;
        border: 1px solid #dbdbdb;
        margin: 0 auto 50px auto;
    }
    
    .cart_order_form input{
        width: 240px;
        height: 40px;
        margin: 20px 0 0 20px;
        padding-left: 28px;
    }
}

@media screen and (max-width: 350px){
    .cart_order_form{
        height: 280px;
        width: 260px;
        border: 1px solid #dbdbdb;
        margin: 0 auto 50px auto;
    }
    
    .cart_order_form input{
        width: 220px;
        height: 40px;
        margin: 20px 0 0 15px;
        padding-left: 28px;
    }
}